<%
  temp_data= [
      {
          header: "In the News",
          title: "Flint Daily",
          link: "https://flintdaily.com/analysts-noticed-simpletoken-osts-24-hours-increase-of-19-48/",
          desc: 'Analysts noticed SimpleToken (OST)’s 24 hours increase of 19.48%',
          date: "10-Jan-2018"
      },
      {
          title: "Christopher Keith (Youtube)",
          link: "https://www.youtube.com/watch?v=l2hJpMumRTQ",
          desc: 'SimpleToken Review',
          date: "9-Jan-2018"
      },
      {
          title: "Christopher Keith (Youtube)",
          link: "https://www.youtube.com/watch?v=jbAjsvztCgU",
          desc: 'Fundamental Cryptocurrency Research/ Analysis',
          date: "9-Jan-2018"
      },
      {
          title: "MMA Hot Stuff",
          link: "https://www.mmahotstuff.com/2018/01/08/on-january-7-8-analysts-noticed-simpletoken-ost-rise-by-21-02.html",
          desc: 'On January 7-8 analysts noticed SimpleToken (OST) rise by 21.02%',
          date: "8-Jan-2018"
      },
      {
          title: "TechWorld",
          link: "https://www.techworld.com/picture-gallery/startups/six-blockchain-startups-watch-3669058/",
          desc: 'Six blockchain startups to watch',
          date: "5-Jan-2018"
      },
      {
          title: "Proactive Investors UK",
          link: "http://www.proactiveinvestors.co.uk/companies/market_reports/189586/kryptonite-1-and-regal-petroleum-powering-up-in-london-deals-189586.html",
          desc: 'Keller gains on US acquisition talks, also says Trump tax changes will benefit future earnings',
          date: "5-Jan-2018"
      },
      {
          title: "Crypto Hearsay",
          link: "http://www.cryptohearsay.com/4-cryptocurrencies-set-to-explode-in-early-2018-update-on-simple-token/",
          desc: '4 Cryptocurrencies Set To Explode In Early 2018, Update On Simple Token',
          date: "4-Jan-2018"
      },
      {
          title: "B-Roots (Youtube)",
          link: "https://www.youtube.com/watch?v=7EAO-sT6bjs&t=341s",
          desc: 'How to buy Simple Token ST OST Using Coinbase Safely Step by Step Video',
          date: "2-Jan-2018"
      },
      {
          title: "Getting Started With Crypto (Youtube)",
          link: "https://www.youtube.com/watch?v=DKzF8bvVGBY",
          desc: 'Simple Token Could be Huge | Closer Look',
          date: "1-Jan-2018"
      },
      {
          title: "Crypto Thug",
          link: "https://www.youtube.com/watch?v=UF89pbLuuEI",
          desc: 'Simple Token on Coinmarketcap - Buy or Not?',
          date: "1-Jan-2018"
      },
      {
          title: "BlockTribune",
          link: "http://blocktribune.com/blockchain-cryptocurrency-2018-predictions/",
          desc: 'Blockchain and Cryptocurrency 2018 Predictions',
          date: "26-Dec-2017"
      },
      {
          title: "News Tap​ (Korea)",
          link: "http://www.newstap.co.kr/news/articleView.html?idxno=63867",
          desc: 'Simple Token, Listed Exclusively on Binance Exchange',
          date: "23-Dec-2017"
      },
      {
          header: "In the News",
          title: "Flint Daily",
          link: "https://flintdaily.com/analysts-noticed-simpletoken-osts-24-hours-increase-of-19-48/",
          desc: 'Analysts noticed SimpleToken (OST)’s 24 hours increase of 19.48%',
          date: "10-Jan-2018"
      },
      {
          title: "Christopher Keith (Youtube)",
          link: "https://www.youtube.com/watch?v=l2hJpMumRTQ",
          desc: 'SimpleToken Review',
          date: "9-Jan-2018"
      },
      {
          title: "Christopher Keith (Youtube)",
          link: "https://www.youtube.com/watch?v=jbAjsvztCgU",
          desc: 'Fundamental Cryptocurrency Research/ Analysis',
          date: "9-Jan-2018"
      },
      {
          title: "MMA Hot Stuff",
          link: "https://www.mmahotstuff.com/2018/01/08/on-january-7-8-analysts-noticed-simpletoken-ost-rise-by-21-02.html",
          desc: 'On January 7-8 analysts noticed SimpleToken (OST) rise by 21.02%',
          date: "8-Jan-2018"
      },
      {
          title: "TechWorld",
          link: "https://www.techworld.com/picture-gallery/startups/six-blockchain-startups-watch-3669058/",
          desc: 'Six blockchain startups to watch',
          date: "5-Jan-2018"
      },
  ]
%>

<div class="content-wrapper">
  <div class="container-fluid pl-0">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Draft Mode</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Published</a>
      </div>
    </nav>
    <div class="tab-content pb-4" id="nav-tabContent">

      <div class="tab-pane fade show active mt-4" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="container">
          <div class="mb-5 mt-5 text-right">
            <button class="btn btn-secondary pt-3 pb-3 " name="Create" data-toggle="modal" data-target="#createModal">Create</button>
            <button  class="btn btn-secondary pt-3 pb-3 " >Reset</button>
            <button type="submit" class="btn btn-secondary pt-3 pb-3 " data-submiting="Setting Up...">Save</button>
            <a href="#" class="btn btn-secondary pt-3 pb-3" >Preview</a>
          </div>
        </div>

        <ul id="sortable" >
          <% temp_data.each_with_index do | data | %>
            <li class="mb-3 ordered-list-item" >
              <div class="card ui-state-default ">
                <div class="card-body">
                  <div class="row">
                    <div class="col-8">
                      <% data.each do | key, attr | %>
                        <p class="text-capitalize"><%=key%> : <%= attr %></p>
                      <% end%>
                    </div>
                    <div class="col-4">
                        <span class="float-right align-text-top">
                          <button class="btn btn-primary mb-3" name="Edit" data-toggle="modal" data-target="#editModal">Edit</button>
                          <button class="btn btn-secondary mb-3" name="Delete">Delete</button>
                        </span>
                    </div>
                  </div>
                  <span class="ui-icon ui-icon-arrowthick-2-n-s float-right"></span>
                </div>
              </div>
            </li>
          <% end %>
        </ul>

        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%#= render :partial => "/shared/ost_form_builder/all_templates" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%#= render :partial => "/shared/ost_form_builder/all_templates" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="tab-pane fade mt-4" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <ul class="pb-5">
          <% temp_data.each_with_index do | data | %>
            <li class="mb-3" >
              <div class="card ui-state-default ">
                <div class="card-body">
                  <% data.each do | key, attr | %>
                    <p class="text-capitalize"><%=key%> : <%= attr %></p>
                  <% end%>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>


</div>
<!-- /.container-fluid -->

<% content_for :end_js do %>
  <script type="text/javascript">
    var meta_data = <%= raw @config_response.to_json %>;
    console.log(meta_data);
  </script>
  <script type="text/javascript">
    //Move this to JS file.
    $( function () {
      // Do Stuff Here.
      var ostFomrBuilder = new OstFomrBuilder();
      var index = ost.index.init();
    });
  </script>
<% end %>

<!-- /.content-wrapper -->
<!-- /#wrapper -->