<div class="container dashboard-wrapper">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Entity</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
      <%  entities = @entitites_status.data["entities"]
          entities.each_with_index  do |entity , index|
      %>
      <tr class="entity-row">
      <td>
       <a href=<%= '/dashboard/'+ entity["entity"] %> > <%= entity["entity"].titleize %> </a>
      </td>
      <td>
        <% if entity["status"] != "published" %>
          <span class="badge badge-pill badge-info">Drafted</span>
          <% if entity["status"] == "previewed" %>
          <small> (previewed) </small>
          <% end %>
          <% else %>
          <span class="badge badge-pill badge-primary">Published</span>
          <% end %>
      </td>
      <td>
        <% if entity["status"] != "published" %>
          <button class="btn btn-primary publish" data-entity-name="<%= entity["entity"] %>">Publish</button>
          <button class="btn btn-secondary reset" data-entity-name="<%= entity["entity"] %>">Reset</button>
        <% else %>
          <small>
            Publisher: <%= entity["last_publisher"] %> <br /> Published on: <%= Time.parse(entity["last_publish_ts"]).strftime("%d %b %Y %H:%M %Z") %>
          </small>
        <% end %>
      </td>
    </tr>

        <% end %>
    </tbody>
  </table>

</div>
<% content_for :end_js do %>

  <script type="text/javascript">
    cms.dashboard.init();
  </script>
<% end %>